name: Test Morloc
on: [push]

jobs:
  linux-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    container:
      image: ghcr.io/morloc-project/morloc/morloc-test:latest
      options: --shm-size=4g # required for shared memory pool

    env:
      HOME: /root
      DEBIAN_FRONTEND: noninteractive
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout Morloc code
        uses: actions/checkout@v4

      - name: Diagnostics
        run: |
          pwd
          ls -l
          whoami

      - name: Build Morloc
        run: |
          stack --allow-different-user install --local-bin-path=/usr/local/bin

      - name: Load morloc modules
        run: |
          morloc init -f
          morloc install math internal root root-py root-cpp root-r

      - name: Test morloc
        run: |
          stack test morloc:morloc-test
        timeout-minutes: 10
